{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}
{% trans_default_domain "victoire" %}
{% form_theme form 'VictoireWidgetSliderBundle::fields.html.twig' %}

{% block info %}
    <div class="vic-alert vic-alert-warning vic-alert-dismissible">
        {{ 'widget_listingitem.info.slot'|trans({}, 'victoire')|raw }}
    </div>
{% endblock info %}

{% block form_static %}
    {{ form_start(form) }}
    <div class="vic-row">
        <div class="vic-col-md-12">
            <div class="vic-row">
                <div class="vic-col-md-4">
                    {{ form_row(form.library) }}
                    {{ form_widget(form.adaptiveHeight) }}
                </div>

                <div class="vic-col-md-offset-4 vic-col-md-4 text-right">
                    {{ form_widget(form.autoplay) }}
                    {{ (form.autoplaySpeed is defined) ? form_row(form.autoplaySpeed, {attr: {style: 'max-width: 212px; float: right;'}}) }}
                    {{ form_widget(form.asynchronous) }}
                </div>
            </div>
        </div>

        <div class="vic-col-sm-12"><hr></div>

        <div class="col-sm-12">
            <button class="vic-btn vic-btn-add vic-btn-no-icon vic-reduce vic-pull-right"><i class="fa fa-arrows-v"></i> {{ 'victoire.slider.reduce'|trans }}</button>
            <ul class="vic-row vic-items vic-sortable" data-prototype="{{ form_widget(form.sliderItems.vars.prototype)|e }}">
                {% for item in form.sliderItems %}
                    {% spaceless %}
                        <li class="vic-col-sm-12 vic-request-block">
                            {{ form_widget(item) }}
                        </li>
                    {% endspaceless %}
                {% endfor %}
            </ul>
        </div>

        <div class="vic-col-sm-12 vic-col-md-6 vic-col-lg-4">
            <a href="#" onclick='addItemStaticForm("", {{ quantum }})' class="vic-btn vic-btn-add" class="vic-btn vic-btn-add add-request-block">{{ 'widget.form.WidgetListingItemType.addItem.label'|trans({}, 'victoire') }}</a>
        </div>

        <div class="vic-col-sm-12">
            {% do form.sliderItems.setRendered %}

            {{ form_errors(form) }}
            {{ form_rest(form) }}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock form_static %}

{% block form_entity %}
    {{ form_start(form) }}
    {% if form.mode.vars.data == 'entity' %}


        <div class="vic-row">
            <div class="vic-col-md-12">
                <div class="vic-row">
                    <div class="vic-col-md-4">
                        {{ form_row(form.library) }}
                        {{ form_widget(form.adaptiveHeight) }}
                    </div>

                    <div class="vic-col-md-offset-4 vic-col-md-4 text-right">
                        {{ form_widget(form.autoplay) }}
                        {{ (form.autoplaySpeed is defined) ? form_row(form.autoplaySpeed, {attr: {style: 'max-width: 212px; float: right;'}}) }}
                        {{ form_widget(form.asynchronous) }}
                    </div>
                </div>
            </div>

            <div class="vic-col-sm-12"><hr></div>

            <div class="col-sm-12">
                <button class="vic-btn vic-btn-add vic-btn-no-icon vic-reduce vic-pull-right"><i class="fa fa-arrows-v"></i> {{ 'victoire.slider.reduce'|trans }}</button>
                <ul class="vic-row vic-items vic-sortable" data-prototype="{{ form_widget(form.sliderItems.vars.prototype)|e }}">
                    {% for item in form.sliderItems %}
                        {% spaceless %}
                            <li class="vic-col-sm-12 vic-request-block">
                                {{ form_widget(item) }}
                            </li>
                        {% endspaceless %}
                    {% endfor %}
                </ul>
            </div>

            <div class="vic-col-sm-12 vic-col-md-6 vic-col-lg-4">
                <a href="#" onclick='addItemEntityForm("{{ form.sliderItems.vars.attr.id }}")' class="vic-btn vic-btn-add" class="vic-btn vic-btn-add add-request-block">{{ 'widget.form.WidgetListingItemType.addItem.label'|trans({}, 'victoire') }}</a>
            </div>

            <div class="vic-col-sm-12">
                {% do form.sliderItems.setRendered %}

                {{ form_rest(form) }}
            </div>
        </div>

    {% endif %}
    {{ form_end(form) }}
{% endblock form_entity %}


{% block form %}
    {{ parent() }}
{% endblock form %}
