{% trans_default_domain "victoire" %}

<style>
    .vic-drag-and-drop {
        position: absolute;
        top: 15px;
        left: -10px;
    }
    .vic-reduce {
        margin: 30px 0 30px 17px;
    }
    .vic-checkbox-collapse, .vic-checkbox-collapse label, .vic-checkbox-collapse .vic-checkbox {
        margin: 0;
    }
</style>

<div id="picker-static" class="vic-tab-pane vic-active">
    {{ form_start(form) }}
    <div class="vic-col-md-12">
        <div class="vic-row">
            <div class="vic-col-md-4">
                {{ form_row(form.library) }}
            </div>
            <div class="vic-col-md-offset-4 vic-col-md-4 text-right">
                {{ form_row(form.autoplay) }}
                {{ (form.autoplaySpeed is defined) ? form_row(form.autoplaySpeed, {attr: {style: 'max-width: 212px; float: right;'}}) }}
            </div>
        </div>
    </div>
    <div class="vic-col-sm-12"><hr></div>
    <div class="col-sm-12">
        <button class="vic-btn vic-btn-primary vic-reduce">{{ 'victoire.slider.reduce'|trans }}</button>
        <ul class="vic-row vic-items vic-sortable" data-prototype="{{ form_widget(form.sliderItems.vars.prototype)|e }}">
            {% for item in form.sliderItems %}
                {% spaceless %}
                    <li class="vic-col-sm-12 vic-request-block">
                        <div class="vic-panel vic-panel-default">
                            <i class="fa fa-arrows fa-lg vic-drag-and-drop"></i>
                            <div class="vic-panel-heading expand">
                                <span class="vic-circled request-number"></span>
                                <button type="button" class="vic-btn vic-btn-remove vic-btn-large vic-pull-right"
                                        data-action="remove-block"><i class="fa fa-trash-o"></i></button>
                                <div class="vic-pull-right vic-checkbox-collapse">
                                    {{ form_widget(item.enabled) }}
                                </div>
                            </div>
                            <div id="vic-nl-form" class="vic-panel-body vic-panel-body-request vic-nl-form">
                                {% if item.advanced.vars.data %}
                                    <div class="vic-row">
                                        <div class="vic-col-md-3">
                                            {{ form_row(item.advanced) }}
                                            {{ form_row(item.position) }}
                                        </div>
                                        <div id="widget-{{ form.vars.data.id }}" class="vic-col-md-9">
                                            <h6><small>prévisualisation - fermez la modal et passer en mode édition pour éditer le slide.</small></h6>
                                            <div class="vic-mask">
                                                {% if item.vars.data.id is defined %}
                                                    {{ cms_slot_widgets('victoire_slider_' ~ item.vars.data.id) }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="vic-row">
                                        <div class="vic-col-md-4">
                                            {{ form_row(item.image) }}
                                            {{ form_row(item.enabled) }}
                                            {{ form_row(item.advanced) }}
                                            {{ form_row(item.position) }}
                                        </div>
                                        <div class="vic-col-md-4">
                                            {{ form_row(item.title) }}
                                            {{ form_row(item.subtitle) }}
                                        </div>
                                        <div class="vic-col-md-4">
                                            {{ form_row(item.link) }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                {% endspaceless %}
            {% endfor %}
        </ul>
    </div>
    {% do form.sliderItems.setRendered %}

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <script type="text/javascript">
        $vic('.vic-sortable').sortable({
            axis: 'y',
            cancel: ".vic-add",
            items: "> li",
            opacity: 0.5,
            stop: function(event, ui){
                var item = ui.item;
                var inputs = $vic('.vic-position');
                inputs.each(function(index){
                    $(this).val(index);
                });
            }
        });

        $vic("input, select, textarea").on('mousedown.ui-disableSelection selectstart.ui-disableSelection', function(e){
            e.stopImmediatePropagation();
        });

        $vic('.vic-reduce').on('click', function(e){
            e.preventDefault();
            if ($vic(this).hasClass('active')) {
                $vic(this).removeClass('active').html('{{ 'victoire.slider.reduce'|trans }}');
                $vic('.vic-panel-body').slideDown();
                $vic('.expand').removeClass('active');
            } else {
                $vic(this).addClass('active').html('{{ 'victoire.slider.reduce.active'|trans }}');
                $vic('.vic-panel-body').slideUp();
                $vic('.expand').addClass('active');
            }
        });
        $vic('.expand').css('cursor', 'pointer').on('click', function(e){
            e.preventDefault();
            if ($vic(this).hasClass('active')) {
                $vic(this).removeClass('active');
                $vic(this).siblings('.vic-panel-body').slideDown();
            } else {
                $vic(this).addClass('active');
                $vic(this).siblings('.vic-panel-body').slideUp();
            }
        });

        var collectionHolder = $vic('ul.vic-items');
        var $addItemLink = $vic('<a href="#" class="vic-btn vic-btn-add" class="vic-btn vic-btn-add add-request-block"><img src="/bundles/victoirecms/images/addWidget-icon.png">{{ 'widget_slider.form.add.label'|trans({}, 'victoire') }}</a>');
        var $newLinkContainer = $vic('<li class="vic-col-lg-4 vic-col-lg-offset-8 vic-add"></li>').append($addItemLink);

        $vic(document).ready(function () {

            // Disable entity select when we submit the form
            $vic('form#{{form.sliderItems.vars.attr.id}}').on('submit', function (e) {
                $vic('select.add_{{form.sliderItems.vars.attr.id}}_link').prop('disabled', true);
            });

            //Add new element link
            collectionHolder.append($newLinkContainer);

            //Add item event
            $addItemLink.on('click', function (e) {
                e.preventDefault();
                addItemForm(collectionHolder, $newLinkContainer);
            });

        });

        //Remove item event
        $vic(document).on('click', 'button[data-action="remove-block"]', function (e) {
            e.preventDefault();
            $vic(this).parents('li').remove();
        });

        //Get prototype attribute, replace __name__ according to collection length and append element in dom
        function addItemForm(collectionHolder, $newLinkContainer) {
            var prototype = collectionHolder.attr('data-prototype');
            var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);
            var $newFormContainer = $vic('<li class="vic-col-sm-12 vic-request-block"><div class="vic-panel vic-panel-default"><i class="fa fa-arrows fa-lg vic-drag-and-drop"></i><div class="vic-panel-heading expand"><span class="vic-circled request-number"></span><button type="button" class="vic-btn vic-btn-remove vic-btn-large vic-pull-right" data-action="remove-block"><i class="fa fa-trash-o"></i></button></div><div id="vic-nl-form" class="vic-panel-body vic-panel-body-request vic-nl-form"></div></div></li>');
            $newLinkContainer.before($newFormContainer);
            $vic('.vic-nl-form', $newFormContainer).append(newForm);
            $vic($newFormContainer).find("input, select, textarea").on('mousedown.ui-disableSelection selectstart.ui-disableSelection', function(e){
                e.stopImmediatePropagation();
            });
            $vic($newFormContainer).find(".vic-position").val($vic(".vic-position").length);
        }

    </script>
</div>
