{% stylesheets filter='scss, cssrewrite'
    "@VictoireWidgetSliderBundle/Resources/public/css/bootstrap-slider.scss"
%}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
{% endstylesheets %}

<div id="carousel-{{ widget.id }}" class="carousel slide" data-ride="carousel" data-interval="0">
    <ol class="carousel-indicators">
        {% for item in widget.sliderItems %}
            <li data-target="#carousel-{{ widget.id }}" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for item in widget.sliderItems %}
            {% set params = loop.first ? {'class' : 'active'} : [] %}
            {% embed 'VictoireWidgetSliderBundle::_item.html.twig' with params %}
                {% block background_image %}
                    {% if not item.advanced and item.image %}background-image: url({{ item.image.url|e }});{% endif %}
                {% endblock %}

                {% block title_content %}
                    {% if not item.advanced %}{{ (item.title is defined and item.title) ? vic_link(item.link.parameters, item.title) }}{% endif %}
                {% endblock %}

                {% block subtitle_content %}
                    {% if not item.advanced %}{{ (item.subtitle is defined and item.subtitle) ? vic_link(item.link.parameters, item.subtitle) }}{% endif %}
                {% endblock %}

                {% block link %}
                    {% if not item.advanced and item.link %}{{ vic_link(item.link.parameters, item.linkLabel) }}{% endif %}
                {% endblock %}

                {% block body %}
                    {% if item.advanced %}{{ cms_slot_widgets('victoire_slider_' ~ item.id) }}{% endif %}
                {% endblock %}
            {% endembed %}
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    {% if widget.autoplay %}
        $(document).ready(function () {
            $('#carousel-{{ widget.id }}').carousel({
                interval: {{ widget.autoplaySpeed }}
            });
        });
    {% endif %}

    {% if not widget.adaptiveHeight %}
        function adaptiveHeight() {
            var maxHeight = 0;
            $('#carousel-{{ widget.id }}').find('.item').css('height', 'auto').each(function() {
                if ($(this).height() > maxHeight) {
                    maxHeight = $(this).height();
                }
            }).height(maxHeight);

            console.log('adaptive height thrown', maxHeight);
        }

        $(function() {
            adaptiveHeight();
        });

        $(window).resize(function() {
            adaptiveHeight();
        });
    {% endif %}
</script>
