{% stylesheets filter='scss, cssrewrite'
    "@VictoireWidgetSliderBundle/Resources/public/bower_components/slick.js/slick/slick.css"
    "@VictoireWidgetSliderBundle/Resources/public/css/slick-slider.scss"
%}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
{% endstylesheets %}

<div id="slick-{{ widget.id }}" class="slick-slider">
    {% for item in widget.sliderItems if item.enabled %}
        {% embed 'VictoireWidgetSliderBundle::_item.html.twig' %}
            {% block background_image %}
                {% if not item.advanced and item.image %}background-image: url({{ item.image.url|e }});{% endif %}
            {% endblock %}

            {% block title_content %}
                {% if not item.advanced %}{{ (item.title is defined and item.title) ? vic_link(item.link.parameters, item.title) }}{% endif %}
            {% endblock %}

            {% block subtitle_content %}
                {% if not item.advanced %}{{ (item.subtitle is defined and item.subtitle) ? vic_link(item.link.parameters, item.subtitle) }}{% endif %}
            {% endblock %}

            {% block link %}
                {% if not item.advanced and item.link %}{{ vic_link(item.link.parameters, item.linkLabel) }}{% endif %}
            {% endblock %}

            {% block body %}
                {% if item.advanced %}{{ cms_slot_widgets('victoire_slider_' ~ item.id) }}{% endif %}
            {% endblock %}
        {% endembed %}
    {% endfor %}
</div>

{% javascripts '@VictoireWidgetSliderBundle/Resources/public/bower_components/slick.js/slick/slick.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    $(document).ready(function () {
        $('#slick-{{ widget.id }}').slick({
            dots: true,
            prevArrow : '<span class="slick-arrow prev"></span>',
            nextArrow : '<span class="slick-arrow next"></span>',
            autoplay : {{ widget.autoplay ? 'true' : 'false' }},
            autoplaySpeed : {{ widget.autoplaySpeed }},
            adaptiveHeight: {{ widget.adaptiveHeight|default('false') }}
        });
    });
</script>
