{% stylesheets filter='scss, cssrewrite'
    "@VictoireWidgetSliderBundle/Resources/public/bower_components/slick.js/slick/slick.css"
    "@VictoireWidgetSliderBundle/Resources/public/css/slick-slider.scss"
%}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
{% endstylesheets %}

<div id="slick-{{ widget.id }}">
    {% for item in widget.sliderItems %}
        {% embed 'VictoireWidgetSliderBundle::_item.html.twig' %}{% endembed %}
    {% endfor %}
</div>

{% javascripts '@VictoireWidgetSliderBundle/Resources/public/bower_components/slick.js/slick/slick.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    $(document).ready(function () {
        $('#slick-{{ widget.id }}').slick({
            dots: {{ widget.bullets ? 'true' : 'false' }},
            prevArrow : '<span class="slick-arrow prev"></span>',
            nextArrow : '<span class="slick-arrow next"></span>',
            autoplay : {{ widget.autoplay ? 'true' : 'false' }},
            autoplaySpeed : {{ widget.autoplaySpeed }}
        });
    });
</script>
